<?php

return array(
    'session' => array(
        'remember_me_seconds' => 2419200,
        'use_cookies'       => true,
        'cookie_httponly'   => true,
        'cookie_domain'     => '.domain.com',
        'name'              => 'g403dbsession'
    ),
    'session_table' => array(
        'idColumn'          => 'id',
        'nameColumn'        => 'name',
        'dataColumn'        => 'data',
        'lifetimeColumn'    => 'lifetime',
        'modifiedColumn'    => 'modified'
    ),
);